---
css:
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>The Rochester NY Chesterton Society</title>
  <style type="text/css">
    BODY {
        font-size:18px;
    }
    h1 {font-size: 500%; margin:0; padding: 0;}
    h2 {font-size: 130%; margin:0; padding: 0; font-style:italic;}
    h3 {font-size: 160%; margin:0 0 5px 0; padding: 0;}
    h4 {font-size: 130%; margin:0; padding: 0;}
    h5 {font-size: 70%; margin:0; padding: 0;}
    hr {margin:0 0 0 0; padding: 0;}
    .hidden { margin-left: -500em; }
    .quote { font-style: italic; margin-bottom: 2em;}
    .annual_conference { border-top: 1px solid black; border-bottom: 1px solid black; }
    ul.past-conferences { list-style: none; }
    .speakers { color: #444; }
    .nowrap { white-space: nowrap; }
    .speakers .name {font-weight: bold; }
    .clear { clear: both; }
    .title { font-style: italic; }
    .header { margin-left: auto; margin-right: auto; position: relative }
    .header img { display: block; margin: 0px auto; position: relative; left: -100px; }
    .header h1 { position: absolute; top: 150px }
    #copyright, #maintained_by { text-align: center; font-size: 0.8em; }
    #content { margin: 0px auto; width: 750px; }
    {{ css | default '' }}
  </style>
</head>
  <body>
    <div align="center" id="content">
      <div align="center">
        {{ content }}


        <br/>
        <h4>Recordings of our past conferences are also available:</h4>
        <ul class="past-conferences">
          <li><a href="/2007">Conversion of Heart: St. Paul, St. Augustine, John Henry Newman, <span class="nowrap">GK Chesterton</span> (2007)</a></li>
          <li><a href="/2008">Paradox and the Pursuit of Truth (2008)</a></li>
          <li><a href="/2009">Re-awakening Wonder (2009)</a></li>
          <li><a href="/2010">What Ought To Be: Themes from Chesterton's What's Wrong with the World (2010)</a></li>
          <li><a href="/2011">Transforming The Culture (2011)</a></li>
          <li><a href="/2012">History Matters (2012)</a></li>
          <li><a href="/2013">Literary Voices Against the Darkness (2013)</a></li>
          <li><a href="/2014">Tremendous Trifles (2014)</a></li>
          <li><a href="/2015">More than Magic (2015)</a></li>
          <li><a href="/2016">-ISMs: a Chestertonian look at what surrounds us (2016)</a></li>
          <li><a href="/2017">On the Shoulders of GIANTS (2017)</a></li>
          <li><a href="/2018">Writing Straight with Cooked Lines (2018)</a></li>
          <li><a href="/2019">Whodunnit? GK Chesterton and the origins of detective fiction (2019)</a></li>
          <li><a href="/2021">Poetry: Fruit of Christian joy (2021)</a></li>
        </ul>

        <hr/>
        The Rochester NY Chesterton Society meets the third Thursday of the month, September-December, and March-June.
        Among our goals are lively discussion, good fellowship, and a deeper appreciation of the work of GKC.
        <br/>Direct questions to <a href="mailto:rochesterton@hotmail.com">rochesterton@hotmail.com</a>

        <hr style="margin-bottom: 1em;" />
        {% if poster_path %}
        <p><a href="{{poster_path}}">A letter-sized poster for this event is also available.</a></p>
        {% endif %}


        <div id="maintained_by">Website maintained by volunteers from <a href="http://www.siministries.org">St. Irenaeus Ministries: a center of orthodox Catholic mission and renewal in Rochester.</a></div>

        <div id="copyright">
          &copy; 2021 Rochester NY Chesterton Society
        </div>
      </div>
    </div>
  </body>
</html>
