<p class="speakers">
{% for speaker in speakers -%}
  {% if speaker.href %}<a href="{{speaker.href}}">{% endif %}
  <span class="nowrap">
  <span class="name">{{speaker.name}}{%if speaker.tagline %}</span>, {{speaker.tagline}}{% endif %}
  </span>
  {% if speaker.href %}</a>{% endif %}
  {% if forloop.last == false %} &bull;{% endif %}
{% endfor -%}
</p>

