<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>The Rochester NY Chesterton Society</title>
<style type="text/css">
	BODY { 
      {% if page.background_image -%}
		  background: white url("{{ page.background_image }}");
      {% endif %}
		  background-repeat: no-repeat;
		  background-position: center 0px;
		  font-size:18px;
	}
	h1 {font-size: 300%; margin:0; padding: 0;}
	h2 {font-size: 130%; margin:0; padding: 0; font-style:italic;}
	h3 {font-size: 160%; margin:0 0 5px 0; padding: 0;}
	h4 {font-size: 130%; margin:0; padding: 0;}
	h5 {font-size: 70%; margin:0; padding: 0;}
	hr {margin:0 0 0 0; padding: 0;}
{{ page.css }}

</style>
</head>
<body>

<div align="center">
<table width="750"><tr><td>

{{ page.content }}


	<hr/>
	The Rochester NY Chesterton Society meets the third Thursday of the month, September-December, and March-June. 
	Among our goals are lively discussion, good fellowship, and a deeper appreciation of the work of GKC.
	<br/>Direct questions to <a href="mailto:rochesterton@hotmail.com">rochesterton@hotmail.com</a>
	<hr/>
{% if page.poster_path %}
<p><a href="{{page.poster_path}}">A letter-sized poster for this event is also available.</a></p>
{% endif %}
	<h5>Website maintained by volunteers from <a href="http://www.siministries.org">St. Irenaeus Ministries:
  a center of orthodox Catholic mission and renewal in Rochester.</a></h5>
</div></td></tr></table></div>
</body>
</html>
